{% extends 'base.html' %}
{% load static %}
{% block title %}Asset Types{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" />
{% endblock extra_css %}

{% block content %}
    <main class="app-main"> <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">Asset Tracker</h3>
                    </div>
                    <div class="col-sm-6 text-end">
                        <button class="btn btn-primary" onclick="location.href='{% url 'asset_admin:create_asset_type' %}'">Add Asset Type</button>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div> <!--end::App Content Header--> <!--begin::App Content-->
        <div class="app-content"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h3 class="card-title">Asset Types</h3>
                            </div> <!-- /.card-header -->
                            <div class="card-body">
                                <table id="asset_type_table" class="table table-bordered display">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->

                    </div> <!-- /.col -->
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main--> <!--begin::Footer-->
    <!--Edit Modal -->
    <div class="modal fade" id="edit_asset_type_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="edit_modal_title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="id_edit_modal_body">
            <form id="update_form_id" method="post">
                <div class="mb-3">
                    <label for="name" class="col-form-label">Asset Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="">
                    <p id="error_name"></p>
                </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Description:</label>
                    <textarea class="form-control" id="id_description" name="description" value=""></textarea>
                    <p id="error_description"></p>
                </div>
                <div class="mb-3">
                    <button type="submit" id="id_edit_submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
            <div class="modal-footer mb-3 justify-content-start" id="response_msg_block_id">
                    <p></p>
              </div>

        </div>
      </div>
    </div>
    <!-- Delete warning model -->
    <div class="modal fade" id="delete_asset_type_modal"
         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete_modal_title">Delete Asset Type</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="id_delete_modal_body">
                    <p>Are you sure? If you delete this asset type, all assets
                        under this asset type will be deleted too!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">No
                    </button>
                    <button type="button" class="btn btn-danger" id="asset_type_delete_btn_id">Yes, Delete it
                    </button>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function() {
            $('#asset_type_table').DataTable({
                pageLength: 5,
                ordering:false,// disable ordering for all columns
                {#columnDefs: [#}
                {#  { orderable: false, targets: [1,2,3] }  // Disable ordering on the second to fourth columns (index starts at 0)#}
                {#],#}
                processing: true,
                serverSide: true,
                ajax: {
                    url: "{% url 'asset_admin:ajax_asset_type_list' %}",

                },
                columns: [
                    { data: null, // for serial numbers
                        render: function (data, type, row, meta) {
                            // Use meta.row and meta.settings to calculate the serial number
                            return meta.settings._iDisplayStart + meta.row + 1;
                        },
                    },
                    { data: 'name' },
                    { data: 'description' },
                    { data: null,
                        render: function (data, type, row, meta) {
                            let edit_url = "{% url 'asset_admin:asset_type_detail' 0 %}"
                            let final_edit_url = edit_url.replace('0', data.id)
                            let delete_url = "{% url 'asset_admin:delete_asset_type' 0 %}"
                            let final_delete_url = delete_url.replace('0', data.id)
                            return `
                            <button class="btn btn-success" data-url=${final_edit_url} onclick="OpenEditModal(this)"><i class="fa fa-edit"></i> Edit</button>
                            <button class="btn btn-danger" data-url=${final_delete_url} onclick="OpenDeleteWarningModal(this)"><i class="fa fa-trash"></i> Delete</button>`
                        }
                    }
                ]
              });
        });

        function OpenEditModal(element){
            $.ajax({
                type: 'GET',
                url: $(element).attr("data-url"),
                success: function (response) {
                    let response_data = response.data;
                    let edit_submit_url ="{% url 'asset_admin:update_asset_type' 0 %}"
                    let final_edit_submit_url = edit_submit_url.replace('0', response_data.id)
                    $('#edit_modal_title').text("Edit Asset Type");
                    $('#id_edit_modal_body #name').val(response_data.name);
                    $('#id_edit_modal_body #id_description').val(response_data.description);
                    $('#id_edit_modal_body #id_description').text(response_data.description);
                    $('#id_edit_submit').attr('data-url', final_edit_submit_url);
                    $('#error_name, #error_description').text('');
                    $('#edit_asset_type_modal').modal('show');
                }
            });
        }

        $('#update_form_id').on('submit', function (e) {
            e.preventDefault();
            $('#error_name, #error_description').text('');
            $.ajax({
                type: 'POST',
                headers: {"X-CSRFToken": '{{csrf_token}}'},
                data: $('#update_form_id').serializeArray(),
                url: $('#id_edit_submit').attr("data-url"),
                success: function (response) {
                    if(response.success){
                        $('#response_msg_block_id p').addClass('text-success');
                        $('#response_msg_block_id p').text(response.message);
                        $('#edit_asset_type_modal').fadeOut(1500, function() {
                            $(this).modal('hide');
                            $('#response_msg_block_id p').removeClass('text-success');
                            $('#response_msg_block_id p').text('');
                        });
                        $('#asset_type_table').DataTable().ajax.reload(null, false);
                    }
                    else{
                        if (response.errors.name){
                            $('#error_name').addClass('text-danger').text(response.errors.name);
                        }
                        if (response.errors.description){
                            $('#error_description').addClass('text-danger').text(response.errors.description);
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown){
                }
            });
        })


        function OpenDeleteWarningModal(element){
            $('#asset_type_delete_btn_id').attr({'data-delete-url': $(element).attr('data-url'), 'disabled': false});
            $('#delete_asset_type_modal').modal('show');

        }

        $('#asset_type_delete_btn_id').on('click', function(e){
            $(this).attr('disabled', true);
            $.ajax({
                type: 'POST',
                url: $(this).attr("data-delete-url"),
                headers: {"X-CSRFToken": '{{csrf_token}}'},
                success: function (response) {
                    $('#asset_type_table').DataTable().ajax.reload(null, false);
                     $('#delete_asset_type_modal').modal('hide');
                }
            });
        });


    </script>
{% endblock extra_js %}
