{% extends 'base.html' %}
{% load static %}
{% block title %}Index Page{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.css" integrity="sha256-4MX+61mt9NVvvuPjUWdUdyfZfxSB1/Rf9WtqRHgG5S0=" crossorigin="anonymous">
{% endblock extra_css %}

{% block content %}
    <main class="app-main"> <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">Asset Tracker</h3>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div>
        <div class="app-content"> <!--begin::Container-->
            <div class="container-fluid"> <!-- Info boxes -->
                <div class="row"> <!-- Start col -->
                    <!-- PIE chart -->
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h3 class="card-title">Number of Assets By Type</h3>
    {#                                    <div class="card-tools"> <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse"> <i data-lte-icon="expand" class="bi bi-plus-lg"></i> <i data-lte-icon="collapse" class="bi bi-dash-lg"></i> </button> <button type="button" class="btn btn-tool" data-lte-toggle="card-remove"> <i class="bi bi-x-lg"></i> </button> </div>#}
                            </div> <!-- /.card-header -->
                            <div class="card-body"> <!--begin::Row-->
                                <div class="row">
                                    <div class="col-12">
                                        <div id="pie-chart"></div>
                                    </div> <!-- /.col -->
                                </div> <!--end::Row-->
                            </div> <!-- /.card-body -->
                        </div>
                    </div>
                     <!-- End PIE chart -->
                    <!-- BAR chart -->
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h3 class="card-title">Number of Assets By Status</h3>
    {#                                    <div class="card-tools"> <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse"> <i data-lte-icon="expand" class="bi bi-plus-lg"></i> <i data-lte-icon="collapse" class="bi bi-dash-lg"></i> </button> <button type="button" class="btn btn-tool" data-lte-toggle="card-remove"> <i class="bi bi-x-lg"></i> </button> </div>#}
                            </div> <!-- /.card-header -->
                            <div class="card-body"> <!--begin::Row-->
                                <div class="row">
                                    <div class="col-12">
                                        <div id="bar-chart"></div>
                                    </div> <!-- /.col -->
                                </div> <!--end::Row-->
                            </div> <!-- /.card-body -->
                        </div>
                    </div>
                     <!-- End BAR chart -->
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main--> <!--begin::Footer-->
{% endblock content %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.min.js" integrity="sha256-+vh8GkaU7C9/wbSLIcwq82tQ2wTf44aOHA8HlBMwRI8=" crossorigin="anonymous"></script>
    <script>
        //-------------
        // - PIE CHART -
        //-------------

        const pie_chart_options = {
            series: {{ assets_count }},
            chart: {
                type: "donut",
            },
            labels: {{ asset_types|safe }},
            dataLabels: {
                enabled: false,
            },

            colors: [
                "#0d6efd",
                "#20c997",
                "#ffc107",
                "#d63384",
                "#6f42c1",
                "#adb5bd",
            ],
        };

        const pie_chart = new ApexCharts(
            document.querySelector("#pie-chart"),
            pie_chart_options,
        );
        pie_chart.render();

        //-----------------
        // - END PIE CHART -
        //-----------------
    </script> <!--end::Script-->
{% endblock extra_js %}
